*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background-color: bisque;
    position:relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 140px;

}
.nav-links{
    padding: 28px 0;
    

}
.btn-primary{
    background: #ff3d00;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;

}
.content h1{
    font-size: 65px;
    font weight: 600;
    margin-bottom: 40px;
}
.content form{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;

}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 28px;
    font-size: 18px;
}
.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   

}
.category{
    width: 80px;
    height: 80px;
    margin: 0 25px;
    
    text-align: center;
    align-items: flex-start
}
.weather{
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; position: absolute;
    left: 50%;
    top: 110%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;

}